@import '@/styles/variables';

.input {
  &__label {
    padding-bottom: 8px;
    color: $color-white;
  }

  &__wrapper-item {
    max-width: 548px;
    width: 100%;
  }

  &__item {
    max-width: 548px;
    width: 100%;

    padding: 12.5px 0;
    border-radius: 12px;
    border: 2px solid $color-border-primary;
    color: $color-black-primary;
    text-indent: 16px;

    &--isError {
      max-width: 548px;
      width: 100%;

      padding: 12.5px 0;
      border-radius: 12px;
      border: 2px solid $color-red;
      color: $color-black-primary;
      text-indent: 16px;
    }

    &::placeholder {
      color: $color-border-primary;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &:focus {
      max-width: 548px;
      width: 100%;

      padding: 12.5px 0;
      border: 2px solid $color-primary;
      border-radius: 12px;
      color: $color-black-primary;
      font-weight: 500;
      text-indent: 16px;
      outline: none;
    }

    &:hover {
      border: 2px solid $color-grey;
      background: $color-background-primary;
    }
  }
}
