@import '@/styles/variables';

.input {
  &__label {
    padding-bottom: 8px;
    color: $color-white;
  }

  &__wrapper-item {
    max-width: 548px;
    width: 100%;
  }

  &__item {
    max-width: 548px;
    width: 100%;

    padding: 12.5px 0;
    border-radius: 12px;
    border: 2px solid $color-border-primary;
    color: $color-black-primary;
    text-indent: 16px;

    &:disabled {
      max-width: 548px;
      width: 100%;

      padding: 12.5px 0;
      border-radius: 12px;
      border: 2px solid $color-border-primary;
      background-color: $color-background-disabled;

      &::placeholder {
        visibility: hidden;
      }
    }

    &:disabled {
      max-width: 548px;
      width: 100%;

      padding: 12.5px 0;
      border-radius: 12px;
      border: 2px solid $color-border-primary;
      background-color: $color-background-disabled;

      &::placeholder {
        visibility: hidden;
      }
    }

    &::placeholder {
      color: $color-border-primary;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &:hover {
      border: 2px solid $color-grey;
      background: $color-background-primary;
    }

    &:focus {
      max-width: 548px;
      width: 100%;

      padding: 12.5px 0;
      border: 2px solid $color-primary;
      border-radius: 12px;
      color: $color-black-primary;
      font-weight: 500;
      text-indent: 16px;
      outline: none;
    }

    &--isError {
      max-width: 548px;
      width: 100%;

      padding: 12.5px 0;
      border-radius: 12px;
      border: 2px solid $color-red;
      color: $color-black-primary;
      text-indent: 16px;

      &:hover {
        border: 2px solid $color-red;
        background-color: $color-background-primary;
      }
    }
  }

  &__error {
    color: $color-red;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 3px 0;
  }
}
