@import '@/styles/variables';
@import '@/styles/mixins';

.aqu-section {
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  padding-bottom: 70px;

  @include device(tablet) {
    padding-bottom: 70px;
  }

  @include device(mobile) {
    padding-bottom: 48px;
  }

  &__header-text {
    color: $color-black;

    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.2px;

    @include device(mobile) {
      font-size: 24px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px;

    padding-top: 67px;

    @include device(mobile) {
      grid-template-columns: 1fr;
      padding-top: 24px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px;
    border-radius: 16px;
    border: 1px solid $color-form-placeholder;
    background-color: $color-background-primary;

    @include device(mobile) {
      padding: 16px 24px;
    }
  }

  &__title {
    padding: 16px 0;
    color: $color-black;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @include device(mobile) {
      font-size: 20px;
    }
  }

  &__text {
    color: $color-description;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.aqu-card_image {
  width: 40px;
  height: 40px;
}