@import '../../../styles/mixins.scss';

.gallery__container {
  display: flex;
  flex-direction: column;
}

.gallery__title {
  margin-bottom: 29px !important;

  @include device(mobile) {
    margin-bottom: 16px !important;
  }
}

.description-container {
  margin-left: 90px;
  max-width: 644px;
  margin-bottom: 64px;

  @include device(mobile) {
    margin-left: 0px;
    margin-bottom: 32px;
  }

  .description-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    @include device(mobile) {
      margin-bottom: 2px;
    }
  }
}

.gallery__pictures {
  height: 509px;
  display: flex;
  gap: 24px;

  justify-content: space-between;

  &--mobile {
    position: relative;
    z-index: 1;
  }
}

.gallery__picture {
  width: 357px;
  height: 444px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;

  @media (min-width: 1041px) {
    &--first {
      margin-top: 65px;

      @include device(mobile) {
        margin-top: 0;
      }
    }

    &--last {
      margin-top: 33px;
    }
  }

  @include device(tablet) {
    width: 357px;
    height: 444px;
  }

  &--image {
    max-width: 100%;
    border-radius: 12px;

    position: relative;

    width: fit-content;
    width: 358px;
    height: 444px;

    @include device(tablet) {
      margin-bottom: 32px;
    }

    @include device(mobile) {
      margin-bottom: 24px;
    }
  }

  &--description {
    height: 44px;

    background-color: #f7f7f7;
    position: absolute;
    left: 0;
    bottom: 0;

    height: 44px;

    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 0px 12px 0px 12px;

    box-sizing: border-box;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #191919;
  }
}

.swiper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 99;
}

.button__left {
  order: 1;
  position: absolute;
  top: 190px;
  left: 0;
  border: none;
  border-radius: 20%;
  background-color: transparent;
  padding: 0;
  z-index: 99;
}

.button__right {
  order: 2;
  position: absolute;
  top: 190px;
  right: 0;
  border: none;
  border-radius: 20%;
  background-color: transparent;
  padding: 0;
  z-index: 99;
}

.Gallery--SwiperSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (max-width: 640px) {
    padding: 0;
  }
}

@media (min-width: 640px) {
  .Gallery--SwiperSlide {
    &--2 {
      padding-bottom: 66px;
    }

    &--3 {
      padding-top: 34px;
      padding-bottom: 32px;
    }

    &--1 {
      padding-top: 66px;
    }
  }
}

@media (max-width: 385px) {
  .Gallery--SwiperSlide {
    width: 100% !important;
  }

  .gallery__picture {
    width: 357px;
    min-width: 80%;
  }
}
