@use '../../../../styles/index.scss';
@import '../../../../styles/mixins.scss';

.FAQ__container {
  & > h2 {
    text-align: center;
    margin-bottom: 64px;
    @include device(mobile) {
      font-size: 24px;
    }
  }

  & > p {
    margin-top: 24px;
    text-align: center;
    color: index.$color-black;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    & > a {
      color: index.$color-primary;
    }
  }
}

.container {
  &__accordion {
    max-width: 866px;
    margin: 0 auto;
    padding: 15px 32px;
    margin-bottom: 8px;
    border-radius: 12px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    box-shadow: unset;
    &--summary {
      padding: 0;
      margin: 0;
      align-items: center;
    }

    &--details {
      padding: 0;
    }
  }
}

.description-text {
  color: index.$color-description;
  margin-bottom: 9px;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 0 auto;
}

.css-o4b71y-MuiAccordionSummary-content {
  margin: 0 auto;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0 auto;
  margin-bottom: 16px;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
