//@use '@/styles/typography';
@import '@/styles/mixins';
@import '@/styles/variables';

.FAQ__container {
  &--title {
    text-align: center;
    margin-bottom: 64px;
    @include device(mobile) {
      font-size: 24px;
    }
  }

  &--description {
    margin-top: 24px;
    text-align: center;
    color: $color-black;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &--link {
      color: $color-primary;
      text-decoration: none;
    }
  }
}

.container {
  &__accordion {
    max-width: 866px;
    margin: 8px auto !important;
    padding: 15px 32px;
    border-radius: 12px !important;
    border: 1px solid $color-grey-border;
    overflow: hidden;
    box-shadow: unset;

    &--summary {
      padding: 0;
      margin: 0;
      align-items: center;
    }

    &--details {
      padding: 0;

      & > p {
        font-family: '__Poppins_10da0e', '__Poppins_Fallback_10da0e';
      }
    }
  }
}

.description-text {
  color: $color-description;
  margin-bottom: 9px;
}
