@import '@/styles/index.scss';

.home {
  display: grid;
  grid-template-columns: 453px 1fr;
  gap: 40px;
  position: relative;
  overflow: hidden;
  padding-left: calc((100% - 1120px) / 2);
  padding-top: 111px;

  @include device(tablet) {
    display: block;
    padding-right: 0;
    padding-left: 24px;
    padding-top: 81px;
  }

  @include device(mobile) {
    display: block;
    padding: $padding-mobile;
    padding-bottom: 48px;
    padding-top: 80px;
  }

  &__title {
    margin-top: 105px;
    grid-column: 1/2;
    position: relative;
    overflow: hidden;
    height: auto;
    position: relative;
    z-index: 1;
    display: inline-block;

    &__container {
      position: relative;
    }

    @include device(tablet) {
      margin-top: 40px;
    }

    @include device(mobile) {
      margin-top: 32px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 63px;
    max-width: 350px;
    color: $color-description;

    @include device(tablet) {
      margin-bottom: 24px;
      max-width: 500px;
    }

    @include device(mobile) {
      margin-bottom: 24px;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    max-width: 262px;
    gap: 5px;
    padding-bottom: 64px;

    @include device(mobile) {
      padding-bottom: 40px;
      max-width: none;
    }
  }

  &__item {
    overflow: hidden;
    color: $color-black;
  }

  &__worldMap {
    height: auto;
    max-height: 621px;
    margin-top: 45px;

    @include device(tablet) {
      display: block;
      width: auto;
      max-width: min-content;
    }

    @include device(mobile) {
      display: none;
    }

    &--mobile {
      display: none;

      @include device(mobile) {
        display: block;
        width: 100%;
      }
    }
  }

  &__button--mobile {
    @include device(tablet) {
      display: none;
    }

    @include device(desktop) {
      display: none;
    }
  }

  &__button--desktop {
    @include device(mobile) {
      display: none;
    }
  }

  &__h1 {
    margin-bottom: 17px;
    font-size: 64px;
    font-weight: 600;
    line-height: 83px;
    letter-spacing: -0.02em;
    position: relative;

    @include device(tablet) {
      max-width: 453px;
      margin-bottom: 16px;
    }

    @include device(mobile) {
      font-size: 32px;
      font-weight: 500;
      line-height: normal;
      max-width: 253px;
      margin-bottom: 12px;
    }
  }
}

.blueLine {
  background: rgba(94, 160, 248, 0.5);
  height: 25%;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;

  @include device(mobile) {
    height: 24px;
    top: 70%;
    width: 77%;
  }
}
