$color-black: #191919;
$color-primary: #2c74d3;
$color-description: #6c6c6c;
$color-form-placeholder: #cfcfcf;
$color-background-secondary: #f7f7f7;
$color-background-primary: #fcfcfc;

$color-button: $color-primary;
$color-button-hover: #2465bb;
$color-button-active: #612cd3;
$color-button-disabled: #dcdcdc;

$padding-mobile: 16px;
$padding-tablet: 24px;