

/*#region Colors*/
$color-black: #191919;
$color-primary: #2C74D3;
$color-gray60: #6C6C6C;
$color-gray40: #CFCFCF;
$color-grayBG: #F7F7F7;
$color-white: #FCFCFC;

$color-button: $color-primary;
$color-button-hover: #2465BB;
$color-button-active: #612CD3 ;
$color-button-disabled: #DCDCDC ;
/*#endregion */

/*#region Padding*/
$padding-mobile: 16px;
$padding-tablet: 24px;
/*#endregion */

/*#region Content margin*/
$content-margin-mobile-top: 0;
$content-margin-mobile-bottom: 40px;
$content-margin-tablet-top: 0;
$content-margin-tablet-bottom: 40px;
$content-margin-desktop-top: 0;
$content-margin-desktop-bottom: 128px;
/*#endregion */

