$color-black: #191919;
$color-black-primary: #000000;
$color-white: #ffffff;
$color-red: #e44e4e;
$color-grey: #818181;
$color-grey-dark: #393939;
$color-primary: #2c74d3;
$color-green: #4caf50;
$color-border-primary: #b7b7b7;
$color-description: #6c6c6c;
$color-form-placeholder: #cfcfcf;
$color-background-secondary: #f7f7f7;
$color-background-primary: #fcfcfc;
$color-background-thirds: #00000099;
$color-background-disabled: #d0d0d0;

$color-button: $color-primary;
$color-button-hover: #2465bb;
$color-button-active: #612cd3;
$color-button-disabled: #dcdcdc;

$padding-mobile: 16px;
$padding-tablet: 24px;

$blue-line:  rgba(94, 160, 248, 0.5);
