@use '../../../styles/index.scss';

.container {
  & > .H2 {
    text-align: center;
    margin-bottom: 64px;
  }

  &__accordion {
    padding: 15px 32px;
    margin-bottom: 8px;
    border-radius: 12px !important;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    box-shadow: unset;
    &--summary {
      padding: 0;
      margin: 0;
      align-items: center;
    }

    &--details {
      padding: 0;
    }
  }
}

.description-text {
  color: index.$color-description;
  margin-bottom: 9px;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 0;
}

.css-o4b71y-MuiAccordionSummary-content {
  margin: 0;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  //  min-height: unset;
}
