@import '@/styles/variables';
@import '@/styles/mixins';
@import '@/styles/typography';


.sectionAboutUs {
  background-color: $color-background-primary;
  padding-bottom: 64px;

  @include device(mobile) {
    padding-bottom: 48px;
  }
  &--title {
    order: 1;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    order: 2;
    margin-bottom: 45px;
    column-gap: 214px;

    @include device(tablet) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 0;
      gap: 32px;
    }

    @include device(mobile) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 0;
      gap: 24px;
    }
  }

  &__descriptionContainer {
    width: 100%;
    height: auto;

    &--title {
      font-size: $h5-font-size;
      font-weight: $h5-font-weight;
      line-height: $h5-line-height;
      letter-spacing: $h5-letter-spacing;
      margin-bottom: 16px;

      @include device(mobile) {
        font-size: $body-text-font-size;
        font-weight: $body-text-font-weight;
        line-height: $body-text-line-height;
        letter-spacing: $body-text-letter-spacing;
        margin-bottom: 12px;
      }
    }
  }

  &--image {
    height: auto;
    min-width: 100%;
    max-width: 100%;

    order: 3;

    @include device(tablet) {
      margin-bottom: 32px;
      order: 1;
    }

    @include device(mobile) {
      margin-bottom: 24px;
      order: 1;
    }
  }
}
