@import '@/styles/variables';

.modal {
  max-width: 357px;
  padding: 24px;

  border-radius: 12px;
  background: $color-background-primary;

  &__icons-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text-container {
    padding-top: 16px;
    color: $color-black-primary;

    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__info {
    padding-top: 12px;
    color: $color-grey-dark;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    max-width: 86%;
    letter-spacing: 0.7px;
  }

  &__info-sub-text {
    color: $color-green;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-right: 50px;
  }

  &__btn-wrapper {
    padding-top: 16px;
    text-align: center;
  }

  &__btn {
    border-radius: 12px;
    background: $color-primary;
    border: 1px solid transparent;
    width: 100%;
    padding: 13px 0;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}
