@import '../styles/mixins.scss';

  /* #region ABOUT US */
  
 .sectionAboutUs__container {
    display: flex;
    flex-direction: column;
 }

 .sectionAboutUs__gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    order: 2;   
    margin-bottom: 45px;
    column-gap: 214px;
  
    @include device(tablet) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 64px;
      gap: 32px;
    }
  
    @include device(mobile) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 48px;
      gap: 24px;
    }
 }
  
  .sectionAboutUs-title {
  order: 1;
  }
  
  .sectionAboutUs-image {
    height: auto;
    min-width:100%;
    max-width: 100%;
    margin-bottom: 64px;
    content: url('../../public/images/meetingEvent.png');
    order: 3;
  
  
    @include device(tablet) {
      content: url('../../public/images/meetingEvent-tablet.png');
      margin-bottom: 32px;
      order: 1;
    }
  
    @include device(mobile) {
      content: url('../../public/images/meetingEvent-mobile.png');
      margin-bottom: 24px;
      order: 1;
    }
  }
/* #endregion */