@import '@/styles/variables';
@import '@/styles/mixins';
.button {
  background-color: $color-primary;
  color: #fff;
  border-radius: 12px;
  border: none;
  height: 56px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &--primary {
    padding: 10px 55px;
  }

  &--secondary {
    width: 100%;
  }

  &--deactivated {
    background-color: $color-button-disabled;
    color: #aaa;
    cursor: not-allowed;
    pointer-events: none;
    width: 100%;
  }

  &:hover {
    background-color: $color-button-hover;
  }

  &:active {
    background-color: $color-button-active;
  }

  @include device(mobile) {
    width: 100%;
  }
}
