@import '../../../styles/mixins.scss';

// .ContactUs__flexContainer {
//     display:flex;
//     // gap: 101px;
//     border-radius: 1px solid red;
//     // justify-content: space-between;
//     flex-wrap: wrap;

//     @include device(tablet) {
//        // flex-direction: column;
//     }

//     @include device(mobile) {
//         flex-direction: column;
//     }
// }

.ContactUs__descriptionWrapper {
    display: flex;
    flex-direction: column;
    
    border: 1px solid green;
   // margin: 0 auto;
}


.ContactUs__flexContainer {
    // width: 100%;
    display: flex;
     //gap: 80px;
    border: 1px solid red;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    // justify-content: space-around;
    
    

    @include device(tablet) {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         column-gap: 25px;
         row-gap: 64px

    }

    @include device(mobile) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }
}


.ContactUs__descriptionWrapper-title {
    margin-bottom: 16px;
    font-weight: bold;
}