@import '@/styles/variables';
@import '@/styles/mixins';

.aqu-section {
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  padding: 80px 160px;

  @include device(tablet) {
    padding: 72px 24px;
  }

  @include device(mobile) {
    padding: 48px 16px;
  }

  &__header-text {
    color: $color-black;

    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.2px;
    font-size: 32px;

    @include device(mobile) {
      font-size: 24px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 34px;

    padding-top: 67px;

    @include device(mobile) {
      grid-template-columns: 1fr;
      padding-top: 24px;
    }
  }

  &__item {
    padding: 24px 32px;
    border-radius: 16px;
    border: 1px solid $color-form-placeholder;

    @include device(mobile) {
      padding: 16px 24px;
    }
  }

  &__title {
    padding: 16px 0;
    color: $color-black;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @include device(mobile) {
      font-size: 24px;
    }
  }

  &__text {
    color: $color-description;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
