// @use '../../../sass/abstracts/index.scss';

.container {
    color: white;
    width: 100%;
    margin: auto;
    & > h2 {
        font-size: 42px;
        // font-weight: index.$font-weight-medium;
        text-align: center;
        & > span { 
            // color: index.$color-highlight;
        }
    }

    & > p {
        text-align: center;
        margin-top: 40px !important;
        opacity: 0.6;
        line-height: 25px;
        margin: auto;
        font-size: 17px;
    }
}

.slider {
    display: flex;
    align-items: center;
    & > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: fit-content;
    }

    & .swiper {
        width: 80%;
        margin-bottom: 40px;
        margin-top: 40px;
        &__slide {
            display: flex !important;
            justify-content: center;
            width: 262px;
        }
    }
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;

    &__container {
        position: relative;
        margin: auto;
        margin-top: 50px;
        transform: rotateZ(45deg);
    }
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
