@import '/src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.training-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__nameContainer {
    width: fit-content;
  }

  &__name {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    z-index: 1;

    &__container {
      position: relative;
    }

    @include device(tablet) {
      font-size: 40px;
      font-weight: 500;
    }

    @include device(mobile) {
      font-size: 40px;
      font-weight: 500;
    }
  }

  &__terms {
    margin-bottom: 68px;

    @include device(mobile) {
      margin-bottom: 27px;
    }

    @include device(tablet) {
      margin-bottom: 35px;
    }
  }

  &__term {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    margin: 12px 0;
    width: 100%;

    @include device(tablet) {
      font-size: 16px;
      line-height: 24px;
      margin: 8px 0;
    }

    @include device(mobile) {
      font-size: 16px;
      line-height: 24px;
      margin: 8px 0;
    }
  }

  &__blueLine {
    background: $blue-line;
    height: 36px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;

    background: rgba(94, 160, 248, 0.5);

    @include device(tablet) {
      height: 30.4px;
    }

    @include device(mobile) {
      height: 30.4px;
    }
  }

  &__left {
    font-weight: 400;

    &--pad {
      margin-bottom: 8px;
    }
  }

  &__right {
    font-weight: 500;

    &--pad {
      margin-bottom: 8px;
    }

    @include device(tablet) {
      font-size: 20px;
    }

    @include device(mobile) {
      font-size: 20px;
    }
  }

  &__info {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;

    @include device(tablet) {
      font-size: 32px;
    }

    @include device(mobile) {
      font-size: 24px;
      margin-bottom: $padding-mobile;
    }
  }

  &__cont {
    width: 357px;

    @include device(mobile) {
      width: 100%;
    }
  }
}

.training-card__name {
  display: block;
}

.training-card__titleWrapper {
  position: relative;

  &--top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
